/* Elements */
body 
{
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  /*	background-color: #E8FFE8;*/
}

.rotate{
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  /*transform-origin:20% 40%;
  -ms-transform-origin:20% 40%;
  -webkit-transform-origin:20% 40%;*/
}
.small{font-size:small;border:0;width:10%}

th a 
{
  color: #235A81;
}
a {
  color: #009900;
}


.dotted
{
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: blue;
  text-decoration: none;
}


.tabLink:hover, a:hover 
{
  text-decoration: none;
  color: darkgreen;
  background-color: lightgreen;
  cursor:pointer;
}

#members
{
  font-size:85%;
  /*table-layout:fixed;*/
}
table.training
{
  margin-top:1em;
  margin-bottom:1em;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  border-top:1px solid  #5d73a3;
  border-bottom:2px solid  #5d73a3;
  border-left:1px solid  #5d73a3;
  border-right:1px solid  #5d73a3;
}
table.training td
{
  font-size:0.9em;
  border-left: 1px solid #5d73a3;
  border-right: 1px solid #5d73a3;
  border-top:0px;border-bottom:0px;
  padding:0px 2px 0px 2px;
}
table.training th
{
  vertical-align:top;
  text-align:center;
  border-top:3px solid #5d73a3;
  border-bottom:3px solid #5d73a3;
  border-left:1px solid #5d73a3;
  border-right:1px solid #5d73a3;
  padding-bottom:5px;
  color:#133247;
  height:auto;
}

table.main
{
  margin-top:1em;
  margin-bottom:1em;
  font-family: Calibri;
  border-collapse:collapse;
  border-top:1px solid  rgb(208,215,229);
  border-bottom:1px solid  rgb(208,215,229);
  border-left:1px solid  rgb(208,215,229);
  border-right:1px solid  rgb(208,215,229);
}
table.main td
{
  font-size:0.9em;
  border: 1px solid rgb(208,215,229);
  padding:0px 2px 0px 2px;
}
table.main th
{
  vertical-align:top;
  text-align:center;
  border-top:1px solid black;
  border-bottom:1px solid black;
  border-left:1px solid rgb(208,215,229);
  border-right:1px solid rgb(208,215,229);
  padding-bottom:5px;
  background:rgb(204,255,204);
  height:60px;
}

table.main .bottom {height:0px}

.havy-border
{
  border-top:3px solid #5d73a3;
  border-bottom:3px solid #5d73a3;
  border-left:1px solid #5d73a3;
  border-right:1px solid #5d73a3;
}

tr.parity0 
{
  background-color:#D2EDD2;
}

.alr
{
  text-align:right;
  white-space:nowrap
}

.fam {border-top:1px solid #5d73a3;border-bottom:1px solid #5d73a3;}


#edit table, #edit tr, #edit td, #edit th, .editRow
{
  border:0px;
  color:black;
  font-family:'Verdana',arial,sans-serif;
  font-size:12px;
  padding-top:8px;
}
#edit th, .editRow {
  color:rgb(25,79,137);
  font-weight:bold;
  text-align:left;
}
.editField {border-color:rgb(25,79,137);border-radius:5px;margin-bottom:10px}
.editLegend{margin-left:20px;font-style:italic;font-size:12px;color:rgb(25,79,137);font-weight:bold}



.tabLink
{
  color:black;
  text-decoration:underline;
  cursor:pointer;
}

.separate
{border:0px;font-size:inherit;color:inherit}
/* Header */

.border2 {border-top:3px solid black;border-bottom:3px solid black}
.hide{white-space:nowrap;overflow:hidden} .right{text-align:right}
.imgLnk:hover {cursor:pointer;background-color:lightgrey}

.imgButton:hover{background:gray;border-color:black}
.imgButton {height:15px;margin-left:5px;padding:2px;cursor:pointer;border:1px lightgray solid;vertical-align:middle}

.limitButton {padding:3px;border:1px solid black;background-color:#ee9600;color:white;border-radius:5px;box-shadow:3px 3px 2px #888888}

#convoc {margin-top:65px}